@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@300&display=swap');

body {
    font-family: "Outfit", sans-serif;
    margin: 0;
}

.section1 {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;

}

.content1 {
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 0;
}



.contPastel {
    display: grid;
    gap: 0;
    height: auto;
}

#pastel {
    display: grid;
    width: 17%;
    padding: 0;
    justify-self: center;
}

#globoimg {
    height: 40rem;
    padding: 0;
    position: absolute;
    justify-self: end;
    align-self: end;
}

#confetiimg {
    width: 100%;
    padding-top: 1rem;
    height: auto;
    position: relative;
}

#confetiImgMob {
    display: none;
}

.pasteltxt {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    bottom: 8.5rem;
}



/*Section 2*/

.section2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 25rem;
    width: 100%;
    background-color: #3f1652;

}

#cinta {
    position: relative;
    display: grid;
    width: 100%;
}

#cintaimg {
    width: 65rem;
    height: 12rem;
    justify-self: center;

}

#cintaimg2 {
    display: none;
}

#cintaTxt {
    color: white;
    justify-self: center;
    align-self: start;
    font-size: 1.5rem;
    width: 40%;
    position: absolute;
    padding-top: 2rem;
    text-align: center;
}

#globoDiv {
    display: grid;
    width: 0%;
}

/*section 3*/
.section3 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #3f1652;
}

#sec3Icon1 {
    width: 20%;
    position: absolute;
    z-index: 1;
    top: -10%;
    left: 50%;
}

#sec3Icon2 {
    width: 25%;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    right: 0%;
}

.cajatexto {
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    z-index: 4;
}

.cajaTxt {
    position: absolute;
    justify-self: center;
    align-self: center;
    width: 70%;
    color: white;
    font-size: 2rem;
    z-index: 5;
}

.manoCel {
    width: 26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    z-index: 4;
}

/*section 4*/
.section4 {
    height: 100vh;
}

.entorno {
    height: 80vh;
    background-image: url(../src/Entorno.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2a0147;
    display: flex;
    flex-direction: row;
}

.texto1 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;

}

.texto2 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: end;

}

#p1 {
    width: 50%;
    color: white;
    font-size: 1.7rem;
    text-align: center;
    padding-right: 5rem;
    padding-top: 4rem;
}

#p2 {
    width: 50%;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 8rem;
}

.entorno img {
    height: 100%;
}

.nube {
    display: grid;
    grid-template-rows: 1;
    height: 20vh;
    background-color: #2a0147;
}

.luna {
    position: absolute;
    justify-self: center;
    padding-right: 10rem;
}

.nube1 {
    position: absolute;
    justify-self: start;
    z-index: 4;
}

#nube1 {
    width: 35rem;

}

#lunaimg {
    height: 10rem;
    z-index: 2;
}

#nube3 {
    width: 30rem;

}

.nube2 {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    justify-self: center;
    width: 100%;
    height: 20vh;

}

#nube2 {
    width: 80rem;

}

.nube img {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;

}

/*section 5*/
.section5 {
    height: 100vh;
    width: 100%;
    background-image: url(../src/Bar.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letrero {
    height: 10rem;
    width: 10rem;
    padding-top: 5rem;
    padding-left: 8rem;
}

.letreroimg {
    filter: drop-shadow(0 0 0 rgba(243, 198, 239, 0.4));
    /* Establece la sombra inicial */
    animation: sombraAnimacion 1.6s infinite alternate;
    /* Define la animación */
}

@keyframes sombraAnimacion {
    0% {
        filter: drop-shadow(0 0 0 rgba(243, 198, 239, 0.4));
        /* Tamaño inicial de la sombra */
    }

    100% {
        filter: drop-shadow(0 0 26px rgba(243, 198, 239, 0.4));
        /* Tamaño final de la sombra */
    }
}

.sec5Text {
    width: 30%;
    padding-left: 8rem;
}

.sec5Text p {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 3rem;

}

#text2sec5 {
    padding-top: 1rem;
}

/*wrapper sec 6 y 6.1*/
.container6 {
    position: relative;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    display: grid;
    background-color: #101227;
    overflow: hidden;
}

/*section 6*/
.section6 {
    height: 100vh;
    width: 100%;
    background-color: #101227;
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 5;
}

.globo1s6 {
    width: 40%;
    align-self: end;
    justify-self: end;
    padding-right: 6rem;
}

.globo2s6 {
    width: 40%;
    z-index: 2;
    align-self: start;
    justify-self: end;
}

.divSec6Alarma {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.alarma6 {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: 15%;
    align-items: center;
    justify-content: center;
    animation: parpadear 1s infinite alternate;
    transform: translateY(-6rem);
}

@keyframes parpadear {
    from {
        opacity: 0;
        /* Comienza con opacidad 0 */
    }

    to {
        opacity: 1;
        /* Termina con opacidad 1 */
    }
}

.redFlag6 {
    width: 3rem;
    height: 3rem;
    padding-right: 1rem;
}

.alarma6txt {
    font-weight: 800;
    color: #cc0404;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

.chicaimgs6 {
    width: 40rem;
    height: 40rem;
}

.chicaimgsec6 {
    padding-top: 7rem;
    width: 50rem;
    height: 50rem;
}

.section6 {
    display: flex;
    flex-direction: row;
}

.texto1s6cMobile {
    display: none;
}

.textosec6 {
    height: 100vh;
    width: 50%;
    display: grid;
}

.imgsec6 {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.texto1s6 {
    color: white;
    font-size: 2.3rem;
    text-align: center;
    width: 5rem;
    align-self: flex-end;
    display: flex;
    transform: translateY(-5rem);
    display: inline;


}

.texto1s6c {
    align-self: self-end;
    display: inline;
    width: 30rem;
    text-align: center;
    transform: translateY(-1rem);
    margin-right: 2rem;
}

#colortext1 {
    color: #924540;
    font-size: 2.3rem;
    text-align: center;
    width: 5rem;
    align-self: flex-end;
    display: flex;

    display: inline;
}

/*section 6.1*/
.section6-1 {
    width: 100%;
    background-color: #101227;
    display: flex;
    flex-direction: row;

    z-index: 6;
}

.sec6-1Img {
    width: 50%;
    display: flex;
    justify-content: center;
}

.sec6-1Txt {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.sec6-1Icon {
    width: 9rem;
    padding-top: 2rem;
}

.texto1s6c-1 {
    display: inline;
    text-align: center;
    font-size: 2rem;
    width: 60%;
    justify-content: center;
}


.texto1s6-1 {
    color: white;
    text-align: center;
    width: 5rem;
    align-self: flex-end;
    display: flex;
    display: inline;
}

.texto1s6c-2 {
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#colortext1s6-1 {
    color: #924540;
    text-align: center;
    width: 5rem;
    align-self: flex-end;
    display: flex;

    display: inline;
}

#chica {
    transition: transform 600ms ease;
    /* Define la transición */
    transform: translateX(0);
    /* Valor inicial */
}

.divSec6-1Alarma {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.alarma6-1 {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: 25%;
    align-items: center;
    justify-content: center;
    animation: parpadear 1s infinite alternate;
}

@keyframes parpadear {
    from {
        opacity: 0;
        /* Comienza con opacidad 0 */
    }

    to {
        opacity: 1;
        /* Termina con opacidad 1 */
    }
}

.redFlag6-1 {
    width: 3rem;
    height: 3rem;
    padding-right: 1rem;
}

.alarma6txt-1 {
    font-weight: 800;
    color: #cc0404;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

/*section 7*/
.sec9 {
    background-color: #111328;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

#sec7Icon1 {
    width: 15rem;
    position: absolute;
    top: 13rem;
    left: 20rem;
}

#sec7Icon2 {
    width: 18rem;
    position: absolute;
    bottom: 5rem;
    right: 15rem;
}

.preguntaH {
    color: #FFF;
    font-size: 4rem;
    z-index: 4;
}

.buttonsDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
}

.btn9 {
    border-style: solid;
    border-width: 3px;
    border-color: #FFF;
    padding: 1rem;
    background-color: transparent;
    border-radius: 10px;
    margin: 1rem;
    color: #FFF;
    font-size: 1.5rem;
    width: 100%;
    z-index: 4;
}

#azul {
    width: 80%;
    height: auto;
    z-index: 4;
}

#rojo {
    width: 80%;
    height: auto;
    z-index: 4;
}

#recuadro {
    width: 40%;
    justify-self: center;
    align-self: center;
}

.texto9 {
    position: relative;
    max-width: 50%;
    justify-self: center;
    align-self: center;
    color: #111328;
    font-weight: 600;
    display: flex;
    padding: 1rem;
    font-size: 1.3rem;
    flex-direction: column;
    border-radius: 30px;
}

#texto9a {
    background-color: #ff95bd;
}

#texto9b {
    background-color: #ccff9a;
}

#icon19 {
    width: 4rem;
}

.subTexto9 {
    display: flex;
    flex-direction: row;
}

#icon29 {
    width: 2rem;
    justify-self: center;
}

#icon39 {
    width: 4rem;
}

#volverBtn {
    width: 50%;
    border: solid;
    border-width: 2px;
    border-radius: 30px;
    background-color: transparent;
    font-weight: 800;
    color: #111328;
    margin-top: 1rem;
    padding: 1rem;

    justify-self: flex-end;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}


/*Media Queries*/

@media (max-width: 1400px) {

    #cintaimg {
        width: 50rem;
    }

    #globoimg {
        height: 35rem;
    }

    /*Section 3*/
    .manoCel {
        width: 20rem;
    }

    .cajatexto {
        width: 40rem;
    }

    .globo2s6 {
        padding-left: 0rem;
        width: 45rem;
        height: 15rem;
    }

    .globo1s6 {
        padding-left: 0rem;
        width: 40rem;
        height: 7rem;
    }

    .alarma6 {
        width: 25%;
        transform: translateY(-4rem);
    }

    .redFlag6 {
        width: 3rem;
        height: 3rem;
    }

    .alarma6txt {
        font-size: 1.5rem;
    }

    /*sec 6-1*/
    .alarma6-1 {
        width: 35%;
    }




}

@media (max-width: 1400px) and (orientation: landscape) {

    /*sec 2*/
    #cintaTxt {
        padding-top: 0rem;
    }

    .section4 {
        height: 145vh;
    }

    .entorno {
        height: 125vh
    }

    .texto2 {
        height: 85%;
    }

    /*sec 5*/

    #p2 {
        padding-bottom: 1rem;
    }

    #text1sec5 {
        padding-top: 0rem;
    }

    #text1sec5 {
        font-size: 1.5rem;
    }

    #text2sec5 {
        font-size: 1.5rem;
    }

    /*sec 6*/
    .container6 {
        height: 120vh;
    }

    .chicaimgs6 {
        width: 30rem;
        height: 30rem;
    }

    .chicaimgsec6 {
        width: 40rem;
        height: 40rem;
    }

    .sec9 {
        height: 120vh;
    }
}

@media (max-width: 1300px) {

    /*sec 4*/
    .section4 {
        height: 126vh;
    }

    .entorno {
        height: 113vh
    }

    .texto2 {
        height: 85%;
    }

    /*sec 5*/
    .letrero {
        padding-top: 1rem;
    }

    /*sec6*/
    .globo1s6 {
        width: 25rem;
        height: 13rem;
    }

    .globo2s6 {
        width: 40rem;
        height: 17rem;
        z-index: 2;
    }

    .chicaimgs6 {
        width: 35rem;
        height: 35rem;
    }

    .texto1 {
        padding-bottom: 10rem;
    }
    .divSec6Alarma {
        transform: translateY(-4rem);
        padding-top: 0rem;
    }
}
@media (max-width:1290px) and (orientation:landscape) {
    .divSec6Alarma {
        transform: translateY(2rem);
        padding-top: 0rem;
    }
}
@media (max-width:1250px) and (orientation:landscape) {
    
    .texto1s6 {
        color: white;
        font-size: 1.5rem;
    }

    #colortext1 {
        font-size: 1.5rem;
    }

    .sec9 {
        height: 137vh;
    }
}

@media (max-width: 1200px) {
    #cintaimg {
        width: 50rem;
    }

    #cintaTxt {
        justify-self: center;
        width: 50%;

    }

    .entorno {
        background-size: 100vw 110vh;
    }

    /* Section 4 */

    #nube1 {
        width: 25rem;
    }

    #nube3 {
        width: 25rem;
    }

    .luna {
        padding-right: 5rem;
    }

    .texto2 {
        justify-content: center;
    }

    #p2 {
        padding-bottom: 2rem;
    }

    .letrero {
        padding-left: 30rem;
    }

    .sec5Text {
        padding-left: 30rem;
    }

    #text1sec5 {
        font-size: 1.5rem;
    }

    #text2sec5 {
        font-size: 1.5rem;
    }

    /*section 6*/
    .globo1s6 {
        width: 20rem;
        height: 10rem;
    }

    .globo2s6 {
        width: 36rem;
        height: 15rem;
        z-index: 2;
    }

    .chicaimgs6 {
        width: 31rem;
        height: 31rem;
    }

    .chicaimgsec6 {
        padding-top: 6rem;
        width: 40rem;
        height: 40rem;
    }

    /*section 7*/
    #sec7Icon1 {
        width: 15rem;
        position: absolute;
        top: 13rem;
        left: 5rem;
    }

}

@media (max-width: 1200px) and (orientation: landscape) {
    .letrero {
        padding-left: 30rem;
    }

    .sec5Text {
        padding-left: 30rem;
    }

    #text1sec5 {
        font-size: 1.5rem;
    }

    #text2sec5 {
        font-size: 1.5rem;
    }
}

@media (max-width: 1024px) {
    #cintaimg {
        width: 50rem;
    }

    #cintaTxt {
        justify-self: center;
        width: 50%;
        font-size: 1.4rem;
    }

    #globoimg {
        height: 25rem;
        transform: translateY(-10rem);
    }

    /*Section 3*/
    .manoCel {
        width: 18rem;
    }

    .cajatexto {
        width: 30rem;
    }

    .entorno {
        background-size: 100vw 120vh;
        height: 87vh;
    }
    .section4 {
        height: 107vh;
    }
    .cajaTxt {
        font-size: 1.5rem;
    }

    /*section 5*/
    #text1sec5 {
        font-size: 1.3rem;
    }

    #text2sec5 {
        font-size: 1.3rem;
    }

    .sec5Text {
        padding-left: 20rem;
    }

    .letrero {
        padding-left: 20rem;
    }

    /*section 6*/
    .textosec6 {
        width: 40%;
    }

    .globo1s6 {
        width: 17rem;
        height: 10rem;
        padding-left: 0rem;
    }

    .globo2s6 {
        width: 22rem;
        height: 15rem;
        padding-left: 0rem;
    }

    .chicaimgs6 {
        width: 26rem;
        height: 26rem;
    }

    .texto1s6c {
        margin-right: 1rem;
        align-self: end;
        padding-top: 4rem;
        width: 20rem;
    }

    .imgsec6 {
        width: 60%;
    }

    .texto1s6 {
        font-size: 1.4rem;
    }

    .texto1s6c-2 {
        font-size: 1.4rem;
    }

    /*section 7*/
    .texto9 {
        max-width: 60%;
    }

    #colortext1 {
        font-size: 1.6rem;
    }
}

@media (max-width: 1024px) and (orientation: portrait) {

    /*section 2*/
    .section2 {
        height: 34rem;
    }

    #cintaTxt {
        padding-top: 0rem;
    }

    #globoimg {
        height: 25rem;
        transform: translateY(-20rem);
    }

    /*section 4*/
    .entorno {
        background-size: 100vw 130vh;
        height: 95vh;
    }
    .section4 {
        height: 100vh;
    }
    /*Section 5*/
    .letrero {
        padding-left: 0rem;
        padding-top: 1rem;
        padding-right: 1rem;
    }

    .letreroimg {
        width: 8rem;
    }

    .sec5Text {
        padding-left: 0rem;
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #text1sec5 {
        margin-top: 10rem;
        padding-right: 7rem;
    }

    #text2sec5 {
        padding-right: 7rem;
    }

    /*section 6*/
    .section6 {
        height: 71vh;
    }

    .chicaimgsec6 {
        padding-top: 7rem;
        width: 30rem;
        height: 30rem;
    }

    .alarma6 {
        width: 55%;
        transform: translateY(0rem);
    }
    .divSec6Alarma {
        transform: translateY(-24rem);
    }

    /*Section9*/
    .sec9 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 2rem;
        height: 110vh;
    }

    .preguntaH {
        font-size: 3rem;
        margin: 0 10rem 3rem 10rem;
        padding-top: 4rem;
        text-align: center;
    }

    .buttonsDiv {
        width: 100%;

    }

    .btn9 {
        text-align: left;
        font-size: 1.6rem;
        padding: 1.3rem 5rem;
        border-radius: 40px;
        width: 80%;
    }

    #azul {
        width: 100%;
    }

    #recuadro {
        width: 90%;
    }

    .texto9 {
        padding-top: 1.6rem;
        max-width: 85%;
        font-size: 1.8rem;
    }

    #rojo {
        width: 100%;
    }
}

@media (max-width: 900px) {

    #cintaimg {
        width: 40rem;
    }

    #cintaTxt {
        justify-self: center;
        text-align: center;
        width: 57%;
        padding-left: 0;
        font-size: 1.2rem;
        padding-top: 1rem;
    }

    #globoimg {
        height: 25rem;
        transform: translateY(-16rem);
    }

    /*Section 3*/
    .cajaTxt {

        font-size: 1.5rem;
    }


    /*Section 4*/
    .entorno {
        background-size: 100vw 130vh;
    }

    .luna {
        padding-right: 0rem;
    }

    #lunaimg {
        height: 8rem;
    }

    #nube1 {
        width: 18rem;
    }

    #nube3 {
        width: 18rem;
    }

    #nube2 {
        width: 35rem;
    }
}

@media (max-width:830px) and (orientation:portrait) {
    .section4 {
        height: 99vh;
    }
    .entorno {
        height: 98vh;
    }
    .imgsec6 {
        width: 50%;
    }

    .globo1s6 {
        width: 20rem;
        height: 10rem;
        justify-self: center;
    }

    .globo2s6 {
        width: 25rem;
        height: 10rem;
        z-index: 2;
        justify-self: center;
    }

    .alarma6 {
        width: 45%;
    }

    .redFlag6 {
        width: 2rem;
        height: 2rem;
    }

    .alarma6txt {
        font-size: 1.5rem;
    }

    .divSec6Alarma {
        justify-content: end;
        transform: translateY(-21rem);
    }

    /*sec 6-1*/
    .alarma6-1 {
        width: 55%;
    }

    .redFlag6-1 {
        width: 2rem;
        height: 2rem;
    }

    .alarma6txt-1 {
        font-size: 1.5rem;
    }


    .texto9 {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) and (orientation: portrait) {

    /*Section 2*/
    #cinta {
        width: 100%;
    }

    #globoDiv {
        width: 0%;
    }

    #cintaimg {
        justify-self: center;
    }

    #cintaTxt {
        padding-top: 1rem;
    }


    /*section 3*/
    .cajatexto {
        width: 22rem;
    }

    .cajaTxt {
        font-size: 1.2rem;
    }

    .manoCel {
        width: 16rem;
    }

    /*section 4*/
    .nube {
        padding-top: 5rem;
    }

    #p2 {
        padding-bottom: 15rem;
    }
    .section4 {
        height: 108vh;
    }
    /*Section 5*/


    .letrero {
        padding-left: 0rem;
        padding-top: 1rem;
        padding-right: 1rem;
    }

    .letreroimg {
        width: 8rem;
    }

    .sec5Text {
        padding-left: 0rem;
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #text1sec5 {
        margin-top: 10rem;
        padding-right: 7rem;
    }

    #text2sec5 {
        padding-right: 7rem;
    }

    /*section 6*/
    .section6 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 91vh;
    }

    .imgsec6 {
        justify-content: center;
        align-items: center;
        padding: 0rem;

    }

    .chicaimgs6 {
        width: 25rem;
        height: 25rem;
    }

    .textosec6 {
        justify-content: start;
    }

    .globo1s6 {
        width: 20rem;
        height: 10rem;
        justify-self: center;
    }

    .globo2s6 {
        width: 25rem;
        height: 10rem;
        z-index: 2;
        justify-self: center;
    }

    .texto1s6c {
        display: none;
    }

    .texto1s6cMobile {
        display: inline;
        width: 90%;

    }

    .texto1s6 {

        width: 26rem;
    }

    #colortext1 {

        width: 25rem;

    }

    .section6-1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .texto1s6c-1 {
        font-size: 1.7rem;
        width: 100%;
        padding-top: 2rem;
    }

    .alarma6 {
        width: 45%;
    }

    .redFlag6 {
        width: 2rem;
        height: 2rem;
    }

    .alarma6txt {
        font-size: 1rem;
    }

    .divSec6Alarma {
        justify-content: end;
        transform: translateY(0rem);
    }

    /*sec 6-1*/
    .alarma6-1 {
        width: 75%;
    }

    .redFlag6-1 {
        width: 2rem;
        height: 2rem;
    }

    .alarma6txt-1 {
        font-size: 1rem;
    }


    /*Section9*/
    .sec9 {
        height: 130vh;
    }

    .btn9 {
        font-size: 2.2rem;
        padding: 1.3rem 3rem;
        width: 80%;
    }

    .texto9 {
        font-size: 1.6rem;
    }

    #recuadro {
        width: 100%;
        height: 90%;
    }

    #sec7Icon2 {
        bottom: 10rem;
        right: 10rem;
    }
}

@media (max-width: 640px) and (orientation: portrait) {

    /*section 1*/
    #pastel {
        width: 25%;
        z-index: 4;
    }

    /*Section 2*/
    #cintaimg {
        display: none;
    }

    #cintaimg2 {
        display: grid;
        width: 68%;
        justify-self: center;
    }

    #cintaTxt {
        font-size: 1.3rem;
        width: 60%;
    }

    #globoimg {
        height: 10rem;
        transform: translate(-8rem, -24rem);
        justify-self: end;
        z-index: 0;
    }

    /*section 3*/
    .section3 {
        flex-direction: column;
    }

    .cajatexto {
        width: 23rem;
    }

    .manoCel {
        width: 15rem;
        padding-top: 1rem;
    }

    /*section 4*/
    .entorno {
        background-image: url("../src/intento3Entorno.svg");
        background-size: cover;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .texto1 {
        height: 100%;
        width: 70%;
        display: flex;
        justify-content: end;
        align-items: end;
    }

    #p1 {
        width: 100%;
        padding: 0rem;
        font-size: 1.4rem;
        padding-top: 10rem;
    }

    .texto2 {
        width: 70%;
        height: auto;
        align-items: end;
        justify-content: end;
    }

    #p2 {
        width: 100%;
        font-size: 1.4rem;
        padding-top: 16rem;
        color: #e64a5e;
        padding-bottom: 4rem;
    }

    #lunaimg {
        width: 80%;
    }

    /*section 5*/
    .section5 {
        background-image: url('../src/barMobile6.svg');
        background-size: cover;
    }

    #text1sec5 {
        margin-top: 2rem;
        padding-right: 0rem;
        font-size: 1.3rem;
        font-weight: 200;
    }

    #text2sec5 {
        padding-right: 0rem;
        margin-top: 0;
        font-size: 1.3rem;
        font-weight: 200;
    }

    /*section 6*/
    .section6 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .imgsec6 {
        justify-content: start;
        align-items: center;
        padding: 0rem;
        height: auto;
    }

    .chicaimgs6 {
        width: 20rem;
        height: 20rem;
        padding-bottom: 4rem;
    }

    .textosec6 {
        justify-content: start;
        width: 100%;
        height: auto;
        padding-bottom: 4rem;
    }

    .globo1s6 {
        width: 15rem;
        height: 6rem;
    }

    .globo2s6 {
        width: 20rem;
        height: 8rem;
        z-index: 2;
    }

    .texto1s6c {
        display: none;
    }

    .texto1s6cMobile {
        display: inline;
        width: 80%;
        padding-bottom: 2rem;

    }

    .texto1s6 {
        width: 26rem;
        font-size: 1.5rem;
    }

    #colortext1 {
        width: 25rem;
        font-size: 1.5rem;
    }

}

@media (max-height: 640px) and (orientation: landscape) {

    /* Section 9 */
    .preguntaH {
        font-size: 1.5rem;
    }

    .texto9 {
        font-size: 1rem;
        padding: 4%;
    }

    #recuadro {
        height: 100%;
        width: 33%;
    }
}

@media (max-width: 500px) and (orientation: portrait) {
    .sec9 {
        height: 100vh;
    }
}

@media(max-width:435px) {

    /*section 1*/
    .section1 {
        height: 50vh;
    }

    .confeti {
        display: grid;
    }

    #confetiimg {
        display: none;
    }

    #confetiImgMob {
        display: grid;
        width: 100%;
    }

    .contPastel {
        height: 100%;
    }

    #pastel {
        width: 64%;
        align-self: end;
    }

    /*Section 2*/
    .section2 {
        height: 30rem;
    }

    #cintaimg {
        display: none;
    }

    #cintaimg2 {
        display: grid;
        width: 94%;
        justify-self: center;
        padding-top: 2rem;
    }

    #cintaTxt {
        font-size: 1.3rem;
        width: 80%;
        padding-top: 3rem;
        font-weight: 600;
    }

    #globoimg {
        height: 17rem;
        transform: translate(-2rem, -30rem);
        justify-self: end;
        z-index: 0;
    }

    /*Section 3*/
    .section3 {
        flex-direction: column;
    }

    .cajatexto {
        width: 22rem;
    }

    .cajaTxt {
        width: 80%;
        font-size: 1.3rem;
        font-weight: 300;
    }

    .manoCel {
        width: 22rem;
        padding-top: 1rem;
    }

    #sec3Icon1 {
        width: 30%;
        position: absolute;
        z-index: 1;
        top: -10%;
        left: 10%;
    }

    #sec3Icon2 {
        width: 35%;
        position: absolute;
        z-index: 1;
        bottom: 10%;
        right: 0%;
    }

    /*section 4*/
    .luna {
        justify-self: end;
        padding-right: 3rem;
    }

    #nube1 {
        width: 15rem;
    }

    #nube3 {
        width: 15rem;
    }

    #nube2 {
        width: 19rem;
    }

    #p1 {
        font-weight: 200;
    }

    #p2 {
        padding-bottom: 13rem;
        padding-top: 11rem;
    }

    .entorno {
        background-image: url(../src/intento4Entorno.svg);
        background-size: cover;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*section 5*/
    .letrero {
        padding-left: 4rem;
    }

    /*section 6*/
    .sec6-1Icon {
        width: 6rem;
        padding-top: 1rem;
    }

    .texto1s6c-1 {
        font-size: 1.3rem;
        padding-top: 0rem;
    }

    #colortext1s6-1 {
        font-size: 1.3rem;
    }

    .chicaimgsec6 {
        padding-top: 6rem;
        width: 24rem;
        height: 24rem;
    }

    .texto1s6c-2 {
        font-size: 1.3rem;
    }

    .alarma6 {
        width: 45%;
    }

    .redFlag6 {
        width: 2rem;
        height: 2rem;
    }

    .alarma6txt {
        font-size: 1rem;
    }

    .divSec6Alarma {
        justify-content: end;
    }

    /*sec 6-1*/
    .alarma6-1 {
        width: 75%;
    }

    .redFlag6-1 {
        width: 2rem;
        height: 2rem;
    }

    .alarma6txt-1 {
        font-size: 1rem;
    }



    /*section 7*/
    .sec9 {
        height: 102vh;
    }

    .preguntaH {
        font-size: 2rem;
        margin: 0rem;
    }

    #sec7Icon1 {
        top: 2rem;
    }

    #sec7Icon2 {
        bottom: 10rem;
        right: 3rem;
    }

    .buttonsDiv {
        width: 100%;
        padding: 0rem;
    }

    .btn9 {
        font-size: 1.3rem;
    }

    .texto9 {
        font-size: 1.3rem;
    }
}

@media (max-height: 425px) and (orientation: landscape) {

    /* Section 9 */
    .preguntaH {
        font-size: 1.3rem;
    }

    .texto9 {
        font-size: 0.5rem;
        padding: 5% 30%;
    }

    #recuadro {
        height: 100%;
        width: 27%;
    }

    .btn9 {
        font-size: 0.9rem;
    }

}

@media (max-width:420px) and (orientation: portrait) {
    #p2 {

        padding-top: 11rem;
    }

    .sec9 {
        height: 110vh;
    }

    .section4-1 {
        height: 110vh;
        background-color: rgba(4, 7, 29);
    }

    .texto2 {
        padding-top: 10%;
    }
}

@media (max-width: 375px) and (orientation: portrait) {

    /*section 1*/
    #pastel {
        width: 49%;
    }

    /*section 2*/
    #cintaTxt {
        margin-top: 0rem;
    }

    #globoimg {
        height: 14rem;
        transform: translate(-3rem, -26rem);
    }

    /*section 4*/
    .text2sec5 {
        height: auto;
    }

    #p1 {
        padding-top: 0;
    }

    .texto2 {
        height: auto;
    }

    #p2 {
        padding-top: 9rem;
    }

    .section4-1 {
        height: 120vh;
    }

    .texto2 {
        padding-top: 15%;
    }

    /*section 5*/
    #text1sec5 {
        font-size: 1rem;
        margin-top: 5rem;
    }

    #text2sec5 {
        font-size: 1rem;
    }


    .section5 {
        background-image: url('../src/barXs.svg');
        background-size: cover;
    }

    .letrero {
        padding-left: 6rem;
    }

    .letreroimg {
        width: 6rem;
    }

    /*section 6*/
    .container6 {
        height: 120vh;
    }

    .chicaimgs6 {
        width: 15rem;
        height: 15rem;
    }

    .textosec6 {
        padding-bottom: 1rem;
    }

    .globo1s6 {
        height: 5rem;
    }

    .globo2s6 {
        height: 7rem;
    }

    .texto1s6 {
        font-size: 1.3rem;
    }

    #colortext1 {
        font-size: 1.3rem;
    }

    .sec6-1Icon {
        width: 3rem;
        padding-top: 2rem;
    }

    .texto1s6c-1 {
        font-size: 1.3rem;
    }

    .texto1s6c-1 {
        font-size: 1.3rem;
    }

    .texto1s6c-1 {
        font-size: 1.3rem;
    }

    #colortext1s6-1 {
        font-size: 1.3rem;
    }

    .chicaimgsec6 {
        padding-top: 2rem;
        width: 24rem;
        height: 24rem;
    }

    /*section 9*/
    .sec9 {
        height: 110vh;
    }

    #recuadro {
        margin-top: 0%;
    }

    .btn9 {
        font-size: 1.3rem;
        padding: 1.3rem 2rem;
        width: 80%;
    }

    .texto9 {
        font-size: 1rem;
        padding-top: 1rem;
        align-self: start;
    }
}